#webpageLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.webpagelinks {
    font-size: 50px;
    color: #f2f4db;
    margin: 9% 0;
}