.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e412e;
}

/* About Me */

#aboutme {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#aboutme h2 {
  color: #f2f4db;
  font-size: 40px;
  word-break: keep-all;
  width: 100%;
  text-align: center;
}

#aboutme p {
  color: #3e412e;
  background-color: #f2f4db;
  padding: 5%;
  word-break: break-all;
}

/* Header */

.h1div {
  font-size: 30px;
  background-color: #3e412e;
  padding-top: 5%;
}

.h1div h1 {
  text-align: center;
  font-family: 'Cinzel', serif;
  color: #f2f4db;
}

/* Navigation */

#webpageLinks {
  display: flex;
  justify-content: space-around;
  max-width: 650px;
  width: 95%;
}

#webpageLinks li {
  list-style-type: none;
  margin: 9%;
}

#webpageLinks li a {
  color: #f2f4db;
  text-decoration: none;
}

/* Project */

.projectDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work li {
  color: #f2f4db;
  text-align: center;
  width: 100%;
  font-size: 14px;
  list-style-type: none;
}

.firstapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 90%;
  max-width: 100%;
}

.firstapp h3 {
  color: #f2f4db;
  text-align: center;
  width: 100%;
  font-size: 35px;
}

.firstapp h4 {
  color: #f2f4db;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

#firstappimg {
  max-width: 350px;
}

#appsdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.apps {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
}

.apps h3 {
  color: #f2f4db;
  text-align: center;
  width: 100%;
  font-size: 35px;
}

.apps h4 {
  color: #f2f4db;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.applicationpics {
  flex: 1 1 0;
  width: 350px;
  object-fit: cover;
  padding: 2px;

}

/* Contact */

.contactForm {
  color: #f2f4db;
  font-size: 20px;
  margin: 2% 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactmeheader {
  color: #f2f4db;
  font-size: 30px;
}

#contactlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.contactme {
  color: #f2f4db;
  font-size: 20px;
  margin: 2% 0;
}